@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 90vh;
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
    height: 100%;
}

html {
    height: 100%;
}

.ql-editor {
    font-size: 1.05rem;
}

.Google-Font {
        font-family: "Warnes", serif;
        font-weight: 400;
        font-style: normal;
}

.DashSide-Font {
    font-family: "Montserrat Underline", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.satisfy-regular {
    font-family: "Satisfy", serif;
    font-weight: 410;
    font-style: normal;
    font-size: 27px;
  }

  .satisfy-regular-sm {
    font-family: "Satisfy", serif;
    font-weight: 410;
    font-style: normal;
    font-size: 20px;
  }

  .satisfy-regular-xs {
    font-family: "Satisfy", serif;
    font-weight: 410;
    font-style: normal;
    font-size: 49px;
  }  

  .transparent-box {
    position: absolute;
    width: 50%;
    height: 50%;
    /* background-color: rgba(0, 0, 0, 0.2); */
    box-shadow:0 0 10px cyan, 0 0 20px rgb(147, 188, 229), 0 0 30px rgb(16,23,30);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;

  }

  .yatra-one-regular {
    font-family: "Yatra One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  /* .loader {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-top: pink;
    background: radial-gradient(circle, transparent 50%, indigo 55%, purple 65%);
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */
  
  /* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: purple;
  --_m: 
    conic-gradient(#0000 10%,indigo),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.post-content p{
  margin-bottom: 0.5rem;
}

.post-content h1{
  font-size: 1.5rem;
  font-weight: 600;
  /* font-family: sans-serif; */
  margin: 1.5rem 0;
}

.post-content h2{
  font-size: 1.5rem;
  /* font-family: sans-serif; */
  margin: 1.5rem 0;
}

.post-content a{
  color:aqua;
  text-decoration: none;
}

.post-content a:hover{
  color:aqua;
  text-decoration: underline;
}
  
.dark .post-content a{
  color:red;
  text-decoration: none;
}